
#parent_div{
	position: relative;
}

#gif{
	position:absolute;
    left: 455px;
    top: 180px;
    bottom: 400px;
} 

 body{
	background-color: #1ab6ae;
}

#banner{
	color: #3b1daa;
	font-family: 'Architects Daughter', cursive, sans-serif; 
	margin-top: 30px;
	font-weight: 500px;
	font-size: 100px
}

#bottom{
	color: #cf2019;
	font-family: 'Architects Daughter', cursive, sans-serif; 
	margin-top: 280px;
	font-weight: 500px;
	font-size: 100px
}

#back_id{
	display: inline-block;
} 